// COLORS
$color-primary: black;
$color-slightly-desaturated-cyan: #5FB4A2;
$color-dark-blue: #203A4C;
$color-grayish-dark-blue: #33323D;
$color-very-light-grey: #FAFAFA;
$color-light-grey: #EAEAEB;
$color-bright-red: #F43030;

// FONTS
$font-stack: "Arial", sans-serif;